---
layout: page
title: "About"
description: "<br />Hi~ This is Derek Ken"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 切换到中文 Switch to Chinese  </option>
	<option value="1" > Switch to English 切换到英文</option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

<!-- 来必力City版安装代码 社会化评论系统 begin-->
<div id="lv-container" data-id="city" data-uid="MTAyMC8zMTEwNC83NjUz">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<!-- City版安装代码已完成 社会化评论系统 end -->

<!-- GitTalk 社会化评论系统代码 begin -->
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
const gitalk = new Gitalk({ 
	clientID: '776e4dec8e0562dd50eb',
	clientSecret: '15e4cd722d4c8c5caafa7b094a7298b83ee64ecf', 
	// repo: 'DerekKen.github.io', -->
	repo: 'DerekKen.blog.comments',
	owner: 'DerekKen',
	admin: ['DerekKen'],
	// facebook-like distraction free mode
	distractionFreeMode: false,
	labels: ['Gitalk comments of DerekKen Blog','Gitalk','Gitalk Comments'],
	//language: 'en',
	//perPage: 4, 
})
gitalk.render('gitalk-container')
</script>
<!-- GitTalk 社会化评论系统代码 end -->

<!-- Gitment 社会化评论系统代码 begin-->
			<!-- <div id="gitment-container"></div> -->
			<!-- <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css"> -->
			<!-- <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->
			<!-- <script> -->
			<!-- var gitment = new Gitment({ -->
			  <!-- //id: '页面 ID', // 可选。默认为 location.href -->
			  <!-- owner: 'DerekKen', -->
			  <!-- // repo: 'DerekKen.github.io', -->
			  <!-- repo: 'DerekKen.blog.comments', -->
			  <!-- oauth: { -->
				<!-- client_id: '761b46e14d7cc0b740ad', -->
				<!-- client_secret: '083c96e8a1da8928aa78da4141db74ecc6495846', -->
			  <!-- }, -->
			<!-- }) -->
			<!-- gitment.render('gitment-container') -->
			<!-- </script> -->
<!-- Gitment 社会化评论系统代码 end-->

<!-- UY 友言评论代码 BEGIN -->
		<!-- <div id="uyan_frame"></div> -->
		<!-- <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2144935"></script> -->
<!-- UY 友言评论代码 END -->




